*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: black;
    text-align: center;
    color: white;
}

#head{
    font-size: 3rem;
    color: white;
    line-height: 4rem;
    box-shadow: rgba(60, 125, 182, 0.2) 6px 2px 10px 0px, rgba(105, 255, 255, 0.2) -6px -2px 10px 0px;
}

.container{
    width: auto;
}

.showchoice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 4rem;
    margin-top: 80px;
    line-height: 3.5rem;
    color: aqua;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 70px;
}

.choice{
    height: 190px;
    width: 190px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choiceName{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11rem;
}

.choice:hover{
    opacity: 0.6;
    cursor: pointer;
    background-color: #41EAD4;
    box-shadow: rgba(60, 125, 182, 0.2) 6px 2px 100px 0px, rgba(105, 255, 255, 0.2) -6px -2px 90px 0px;
}

img{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border: none;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 4rem;
    margin-top: 80px;
    line-height: 3.5rem;
    color: yellowgreen; 
}

#user-score,
#comp-score{
    font-size: 4rem;
}

.msg-container{
    color: black;
    margin-top: 100px;
}
#msg{
    background-color: #41EAD4;
    color: black;
    font-size: 3rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.owner
{
    margin-top: 40px;
    color: yellow;
    text-align: top;
    font-size: x-large;
}